[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mel_cepstral_distance = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
rope = "*"
pytest = "*"
autoflake = "*"
twine = "*"

[packages]
librosa = "*"
numpy = "*"
scipy = "*"
fastdtw = "*"

[requires]
python_version = "3.8"
