[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mel_cepstral_distance = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
rope = "*"
pytest = "*"
autoflake = "*"
twine = "*"
build = "*"
tox = "*"

[packages]
librosa = ">=0.9.1"
numpy = ">=1.22.3"
scipy = ">=1.8.0"
fastdtw = ">=0.3.4"
pandas = ">=2.0.0"
tqdm = ">=4.63.0"

[requires]
python_version = "3.8"
